.input-errors {
  font-size: 0.625rem;
  margin-top: 0.3125rem;
  color: $the-error;
  font-weight: 500;
}

.form-control.is-invalid {
  color: $the-error;
}
.error-icon {
  padding-right: 1.25rem;
  background: url(/src/assets/icons/error-ques.svg) no-repeat 0.5625rem center;
}
.form-control.is-invalid {
  color: $the-error;
  border: 0.0625rem solid $the-error;
  background-image: url(/src/assets/icons/error-tri.svg);
  background-position: right 0.75rem center;
  background-size: 0.8125rem;
}
.form-control.is-invalid:focus {
  box-shadow: none;
  border: 0.0625rem solid $the-error;
}
.alert {
  --bas-alert-padding-x: 0.75rem;
  --bas-alert-padding-y: 0.875rem;
  --bs-alert-padding-x: 0.75rem;
  font-weight: 500;
  line-height: 1.125rem;
  padding-left: 2.1875rem;

  a {
    font-family: "Roboto";
  }
}
.alert-danger {
  --bs-alert-color: #ff0303;
  --bs-alert-bg: #fcf0f1;
  --bs-alert-border-color: #ff9090;

  a {
    color: var(--bs-alert-color);
  }
}
.alert-danger::before {
  content: "";
  background: url(/src/assets/icons/alert-danger.svg) left center no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3125rem;
  position: absolute;
  left: 0.75rem;
}
