$primary: #5d9143;
$white: #ffffff;
$the-default: #3d484d;
$primary-blue: #024059;
$the-error: #ff3654;
$disabled: #707070;
$tooltip: #77b259;
$checkbox-default: #363636;
$checkbox-selected: #03658c;
